body{
    background-color: #F2F2F2;
}
#LogoLaboratoria{
    margin-left:60px; 
    margin-top:10px
}

.topnav {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFE521;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    z-index: 100;
    /* z-index es el orden de capas */
}

.menuSuperior {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    overflow: hidden;
    color: #333333;
    padding: 28px 40px;
    font-size: 15px;
}

.sidenav {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.elipse {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    left: 15px;
    top: 17px;
    background: #E0E0E0;
}

.fa-bars {
    position: absolute;
    left: 29px;
    top: 30px;
}

.sidenav .sidenavText {
    font-family: 'Open Sans', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #333333;
    display: block;
    transition: 0.3s;
}

.sidenav .sidenavText:hover {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 229, 33);
    background-color: rgb(255, 229, 33, 0.2);
    color: #333333;
}

.sidenav .closebtn {
    color: #333333;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
    transition: 0.3s;
}

#main {
    font-family: 'Open Sans', sans-serif;
    padding: 16px;
    background-color: white;
    width: 277px;
    height: 80px;
    float: left;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
    #cajaChile,
    #cajaMexico,
    #cajaPeru {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 0px;
    }
}

#contenido {
    margin-top: 100px;
    margin-bottom: 10px;
}

#contenidoTres {
    margin-top: 80px;
}

.tablaAlumnas {
    margin-top: 80px;
}

.dropdown {
    margin-top: 80px;
}

.cajasSedes {
    font-family: 'Open Sans', sans-serif;
    margin: 100px 15px;
    width: 250px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24), 0px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}

.buttonSedes {
    font-family: 'Open Sans', sans-serif;
    width: 118px;
    height: 36px;
    background-color: #FF009E;
    color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

.buttonSedes:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

table,
td {
    padding: 10px;
    align-items: center;
    text-align: center;
}

.titulosSecciones {
    font-size: 25px;
    color: #333333;
    position: absolute;
}

.fa-map-marker,
.fa-users,
.fa-user {
    padding-right: 15px;
    font-size:25px;
}


/* dropdown */

.dropbtn {
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24), 0px 8px 8px rgba(0, 0, 0, 0.12);
    color: #333333;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.dropdown,
.dropdown:hover .dropbtn {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 250px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24), 0px 8px 8px rgba(0, 0, 0, 0.12);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-decoration: none;
}

.dropdown-content a {
    color: #333333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: linear-gradient(90deg, #FF009E 0%, #56F89A 100%);
}

.dropdown:hover .dropdown-content {
    display: block;
}