body {
    background-color: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
    #cajaChile,
    #cajaMexico,
    #cajaPeru {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 0px;
    }
}

#LogoLaboratoria {
    margin-left: 60px;
    margin-top: 10px
}

.topnav {
    background-color: #FFE521;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    z-index: 100;
    /* z-index es el orden de capas */
}

.menuSuperior {
    font-weight: 700;
    overflow: hidden;
    font-size: 15px;
    line-height: 80px;
    padding-left: 30px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.elipse {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    left: 15px;
    top: 17px;
    background: #E0E0E0;
}

.elipse:hover {
    background-color: #FFE521;
}

.fa-bars {
    position: absolute;
    left: 30px;
    top: 30px;
}

.sidenav .sidenavText {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #333333;
    display: block;
    transition: 0.3s;
}

.sidenav .sidenavText:hover {
    background-color: rgb(255, 229, 33);
    background-color: rgb(255, 229, 33, 0.2);
    color: #333333;
}

.sidenav .closebtn {
    color: #333333;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
    transition: 0.3s;
}

#main {
    padding: 16px;
    background-color: white;
    width: 277px;
    height: 80px;
    float: left;
}

#contenido {
    margin-top: 100px;
    margin-bottom: 10px;
}

#contenidoTres {
    margin-top: 80px;
}

.dropdown {
    margin-top: 50px;
}

.cajasSedes {
    margin: 80px 15px;
    width: 250px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24), 0px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}

.buttonSedes {
    width: 118px;
    height: 36px;
    background-color: #FF009E;
    color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}

.buttonSedes:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

table,
td {
    padding: 10px;
    align-items: center;
    text-align: center;
}

.titulosSecciones {
    font-size: 25px;
    color: #333333;
    margin-top: 20px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.fa-bars {
    position: absolute;
    left: 29px;
    top: 30px;
    font-size: 20px;
}

.fa-map-marker-alt,
.fa-users,
.fa-user {
    padding-right: 15px;
    font-size: 25px;
}

.sidenav .fa-user,
.fa-table,
.fa-cog {
    font-size: 15px;
    padding-right: 15px;
}

.fa-times {
    font-size: 20px;
}

.fa-times:hover {
    color: #E0E0E0;
}

.fa-search {
    font-size: 15px;
    align-self: center;
}

hr.lineaSeparadorUno {
    border-top: 0.5px solid #BDBDBD;
    margin-top: 10px;
    margin-right: 10px;
}


/* dropdown */

.dropdown select {
    margin-right: 15px;
    margin-bottom: 15px;
    border: none;
    position: relative;
    width: 250px;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24), 0px 8px 8px rgba(0, 0, 0, 0.12);
    color: #333333;
    font-size: 16px;
    outline: none;
}

.dropdown p {
    font-weight: 300;
    font-size: 13px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.buttonCohorts {
    width: 148px;
    height: 36px;
    background-color: #FF009E;
    color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.buttonCohorts:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}


/* Tabla */

#tablaAlumnas {
    margin-top: 20px;
    font-size: 13px;
}

.cabeceraTabla {
    background-color: white;
    text-transform: uppercase;
}

#buscador {
    width: 250px;
    height: 36px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(182, 181, 181);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24), 0px 8px 8px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    padding-left: 10px;
}


/* Buscador 

.buscador {
    margin-top: 30px;
}

.buscador input {
    width: 250px;
    height: 36px;
    background: #E0E0E0;
    border-radius: 3px;
    border: none;
    outline: none;
}

.buscador input[type=text] {
    padding: 6px;
    font-size: 14px;
    color: #828282;
    border: none;
}

.buscador button {
    width: 36px;
    height: 36px;
    background: #FF009E;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: none;
}

.buscador button:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}
*/